.reset-password {
  height: 70vh;
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon {
  color: rgb(29, 155, 240);
  font-size: 35px;
  line-height: 20px;
  font-weight: 700;
}

.reset-password-input input {
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px grey solid;
  outline: 0;
  padding: 10px 10px 10px 0px;
  width: 25vw;
}

.reset-password-input input:focus {
  border-color: rgb(29, 155, 240)
}

.reset-password-input input::placeholder {
  font-size: 18px;
}

.reset-password-input .para {
  color: grey;
  padding-top: 20px;
  font-size: 18px;
  width: 28vw;
}

.reset-password-input .reset-button {
  border: none;
  padding: 5px 20px 5px;
  background: rgb(29, 155, 240);
  color: white;
  border-radius: 25px;
}

.reset-password-input .heading {
  width: 30vw;
  padding: 10px 0px;
}
